<ion-view view-title="Games">
  <ion-content>
      <ion-list>
      <ion-item ng-show="showGameToCurrentUser(game)" class="item-remove-animate item-avatar item-icon-left item-icon-right" ng-repeat="game in games" type="item-text-wrap" href="#/tab/games/{{game.$id}}">
          <i ng-hide="showJoinGameButton(game)" class="icon icon-accessory fa fa-check"></i>
          <div class="row">
              <div class="col col-75">
                  <h2>{{game.name}}</h2>
                  <p>{{game.location}}</p>
                  <p>{{convertTimeStampToDate(game.date)}}</p>
              </div>
              <!--div class="col">{{checkMe(game)}}/{{game.maxPlayers}}
                  <i class="fa fa-users"></i>
              </div-->
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button  ng-show="game.createdBy == currentUser.uid" ng-click="games.$remove(game)" class="button-assertive">
              <i style="padding-left: 15px;padding-right: 15px"     class="fa fa-trash-o fa-2x"></i>
          </ion-option-button>
          <ion-option-button  ng-show="showJoinGameButton(game)" ng-click="removePlayerFromGame(game)" class="button-assertive">
              <i style="padding-left: 15px;padding-right: 15px"     class="fa fa-times fa-2x"></i>
          </ion-option-button>
          <ion-option-button  ng-click="addMe(game)"  ng-show="showJoinGameButton(game)"  class="button-positive">
              <i      style="padding-left: 15px;padding-right: 15px"   class="fa fa-plus-circle fa-2x"></i>
          </ion-option-button>
          <ion-option-button ng-click="removeMe(game)"    ng-hide="showJoinGameButton(game) || game.createdBy == currentUser.uid"  class="button-positive">
              <i     style="padding-left: 15px;padding-right: 15px" class="fa fa-minus-circle fa-2x"></i>
          </ion-option-button>
      </ion-item>
   </ion-list>
  </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">

        <h1 ng-click="openModal()" class="title">Add Bingo Game </h1>

    </ion-footer-bar>
</ion-view>
<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Add Bingo Game</h1>
            <button ng-click="closeModal()" class="button" ng-click="openModal($event)">
                <i  class="ion-chevron-right icon ion-close-round"></i>
            </button>
        </ion-header-bar>
        <ion-content>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios-information-empty placeholder-icon"></i>
                    <input  placeholder="Game's Title" type="text" ng-change="updateName(newGame.name)" ng-model="newGame.name">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-home-outline placeholder-icon"></i>
                    <input  placeholder="Game's Locations" type="text" ng-change="updateLocation(newGame.location)" ng-model="newGame.location">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-calendar-outline placeholder-icon"></i>
                    <input  placeholder="Game's Date" ng-click="pickDate()"  type="date" ng-model="newGame.date">
                </label>
                <label class="item item-input">
                    <i class="ion-ios-clock-outline placeholder-icon"></i>
                    <input  placeholder="Game's Time" ng-click="pickTime()"  type="time" ng-model="newGame.time">
                </label>
                <label class="item item-input">
                    <i class="icon ion-person-stalker placeholder-icon"></i>
                    <input placeholder="Game's Max Number Of Players" ng-change="updateMaxPlayers(newGame.maxPlayers)" type="text" ng-model="newGame.maxPlayers" placeholder="Enter Max Number Of Players">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Invite Group
                    </div>
                    <select   ng-change="updateInvitedGroup(groupId)" ng-model="groupId">
                        <option ng-repeat="group in currentPlayerGroups" ng-value="group.$id">{{group.name}}</option>
                    </select>
                </label>
                <!--h2>Invited Players
                <button ng-click="openSearchPlayersModal()" class="button button-positive">
                    <i class="icon ion-person-add"></i>
                </button> </h2-->
                <div class="list">
                    <a ng-repeat="playerId in invitedPlayersList" class="item item-avatar">
                       <img ng-src="data:image/jpeg;base64,{{playersKeyArray[playerId].image.image}}">
                       <p> {{playersKeyArray[playerId].nickName}}</p>
                    </a>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar align-title="left" class="bar-assertive">

            <h1 ng-click="addNewGame()" class="title">Add Bingo Game </h1>

        </ion-footer-bar>
    </ion-modal-view>
</script>


<script id="search-players-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Invite Players</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input ng-model="query" type="text" placeholder="Search">
                    </label>
                </div>
                <a ng-repeat="player in players | queryPlayer:query" class="item item-avatar">
                    <img ng-src="data:image/jpeg;base64,{{player.image.image}}">
                    <h2>{{player.nickName}}</h2>
                    <i ng-show="invitedPlayersList.indexOf(player.$id) == -1" ng-click="invitePlayer(player)" style="padding-left: 15px;padding-right: 15px;float: right"   class="fa fa-plus-circle fa-2x"></i>
                    <i ng-hide="invitedPlayersList.indexOf(player.$id) == -1" ng-click="unInvitePlayer(player)" style="padding-left: 15px;padding-right: 15px;float: right"   class="fa fa-minus-circle fa-2x"></i>
                </a>
            </div>
        </ion-content>
        <ion-footer-bar align-title="left" class="bar-assertive">

            <h1 ng-click="searchPlayersModal.hide()" class="title">Close</h1>

        </ion-footer-bar>
    </ion-modal-view>
</script>